* {

padding: 0;
margin: 0;
box-sizing: border-box;
font-family: 'Roboto', sans-serif;

}

body {

  width: 100%;
  margin: 0 auto;

}

a {

  color: black;
  text-decoration: none;

}

li {
	list-style-type: none;
  margin-right: 3%
}

header{

  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.logocontainer{

  border-bottom: 2.5px solid white;
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
  width: 100%
}

.seachbox {

  margin-right: 0;

}

.navs {

  display: flex;
  width: 100%;
  margin-bottom: 1%;
  padding: 20px;


}

.navdecategorias, .navderegister{
  display: flex;

}

.navdecategorias{
  width: 70%;
}

.navderegister {

  width: 30%;
  justify-content: flex-end;
  font-weight: bold;

}

.navdecategorias a {

  padding-right: 10px;

}


.navs a{

  color: white;

}

.armatupc{

  color: #5df5a2;
  font-weight: bold;

}

.fas {

  color: white;

}

.logo{

  border-radius:100000px;
  padding: 20px;
  max-width: 250px;
  max-height: 250px;

}


h1, h5 {

  text-align: center;

}

h5 {

  padding-bottom: 15px;

}


.bannernvidia {

  width: 100%;

}


hr {

  width: 100%;
  height: 200px;

}

.barras{

  display: flex;
  justify-content: center;
  border-bottom: 1px solid green;
  margin-bottom: 4%;
}

h6 {

  margin-top: 4%;
  font-size: calc(16px + (34 - 16) * ((100vw - 300px) / (1600 - 300)));
  font-family: 'Oswald', sans-serif;
  text-align: center;
  width: 50%;
  background-color: green;
  color: white;
  border-bottom: solid green;
  word-spacing: 10px;
  letter-spacing: 6px;

}

.combosrecomendados {

}

.maspopulares, .combosrecomendados, .ofertasespeciales{

  width: 100%;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.populares, .combos{

  flex-basis: 22%;
  position: relative;
  padding-bottom: 50px;

}

.ofertas{

  flex-basis: 18%;
  position: relative;

}

.populares img, .combos img, .ofertas img{

  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border-radius: 1000px;
  border: 4px solid lightgreen;

}

.populares p, .combos p, .ofertas p {

  text-align: center;

}

.populares .precio, .combos .precio {

  position:absolute;
  background-color: darkgreen;
  color: white;
  padding: 7px;
  border-radius: 1000px;
  font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  font-weight: bolder;

}

.populares .precio{

  bottom: 120px;
  right: 0;

}

.combos .precio {

  bottom: 140px;
  right: 0;

}

.populares .modelo, .combos .modelo {

  padding-top: 20px;
  font-size: calc(12px + (22 - 12) * ((100vw - 300px) / (1600 - 300)));
  font-family: 'Anton', sans-serif;

}

.ofertas {

  padding-top: 80px;
  position: relative;

}

.precio2{

  background-color: darkgreen;
  color: white;
  padding: 7px;
  border-radius: 1000px;
  font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  font-weight: bolder;

}

.modelo2{

  position: absolute;
  top: 0;
  right: 20%;
  left:20%;
  font-family: 'Anton', sans-serif;
  font-size: calc(12px + (22 - 12) * ((100vw - 300px) / (1600 - 300)));

}

.negado{

  text-decoration: line-through;

}

.descuento{

  font-family: 'Lexend Giga', sans-serif;

}

.banneramd {

  margin-top: 40px;
  width: 100%;

}

footer {

  background-color: black;
  display: flex;
  justify-content: space-between;


}

footer li, footer a {

  color: white;
  text-align: center;
  padding-bottom: 10px;
  line-height: 30px;
  font-family: 'Work Sans', sans-serif;

}

footer li:last-child{

  padding-bottom: 30px;

}

.top {

  font-size: 1.5em;
  font-family: 'Gayathri', sans-serif;
  padding-top: 10px;
  color: red;

}

footer div {

  width: 30%

}

footer img {

  border-radius: 25px;

}

.redesociales{

  display: flex;
  margin-right: 20px;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  margin-top: 20px;

}

.horario {

  font-weight: 600;

}

/* login.html */

.access {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 100px;
}

.Persona {
  padding: 20px;
}

.encriptado {
  padding: 20px;
}

#Usuario {
  width: 100%;
  padding: 3px;
}

#Contraseña {
  width: 100%;
  padding: 3px;
}

#recordar {
  margin: 20px;
  padding: 10px;
}

.checkboxrememberme {
  text-align: end;
  padding: 20px;
}

button.iniciosesion {
  background-color: darkgreen;
  color: white;
  padding: 10px;
  border: solid 1px black;
  border-radius: 5px;
  margin: 20px;
}

.mismatch {
  padding: 20px;
}

.norecuerdacontraseña {
  text-decoration: underline;
  color: blue;
  padding: 20px;
}

/* Registro.html */

.padre {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px;
}

.name {
  padding: 10px;
}
.apell {
  padding: 10px;
}
.mail {
  padding: 10px;
}
.contra {
  padding: 10px;
}
.repite {
  padding: 10px;
}

#Nombre {
  width: 100%;
  padding: 3px;
}
#Apellido{
  width: 100%;
  padding: 3px;
}
#Email {
  width: 100%;
  padding: 3px;
}
#Contraseña {
  width: 100%;
  padding: 3px;
}
#Contraseña2 {
  width: 100%;
  padding: 3px;
}

#enviar {
  margin: 10px;
  padding: 10px;
}

button#enviar {
  background-color: darkgreen;
  color: white;
  padding: 5 25px;
  border: solid 1px black;
  border-radius: 5px;
}

@media (min-width:1050px) {

  .menu, .navdecategorias li:nth-child(2) {

    display: none;

  }

}

@media (min-width:768px) and (max-width:1050px) {


  .navdecategorias li:nth-child(1){

    margin-right: 0;
    display: none;

  }

  .navdecategorias li:nth-child(3){

    margin-right: 0;
    display: none;

  }

  .navdecategorias li:nth-child(4){

    margin-right: 0;
    display: none;

  }

  .navdecategorias li:nth-child(5){

    margin-right: 0;
    display: none;

  }

  .populares, .combos{

    flex-basis: 48%;

  }

  .ofertas{

    flex-basis: 95%;

  }

  .ofertasespeciales img{

      max-width: 200px;
      max-height: 200px;

  }

}

@media (min-width:480px) and (max-width:768px) {

  .navdecategorias li:not(:first-child), .banneramd, .bannernvidia{

    display: none;

  }

  .populares, .combos{

    flex-basis: 48%;

  }

  .ofertas{

    flex-basis: 95%;

  }

  h5{

    font-size: 3em;

  }

}
