.products-container{
  display: flex;
}
.categories{
  margin-left: 3vw;
  padding-top: 5vh;
  display: flex;
}
ul {
  list-style: none;
}
li.categories-title{
  font-weight: bold;
  font-size: 25px;
}

a.categorie-link{
  color: black;
  font-size: 16px;
}

div.conteiner{
  display: flex;
  justify-content: center;
  margin-top: 5vh;
  margin-bottom: 20vh;
}

img.product-img{
  border: 1px solid grey;
  width: 40vw;
  margin-left: 5vw;
}

div.product-info{
  width: 40vw;
  margin-left: 5vw;
}

h1.product-name{
  font-weight: bold;
}
h2.product-price{
  font-weight: bold;
  font-size: 7vh;
}
