.products-container{
  display: flex;
}
.categories{
  margin-left: 3vw;
  padding-top: 5vh;
  display: flex;
  flex-direction: column;
}
ul {
  list-style: none;
}
h2.categories-title{
  font-weight: bold;
  font-size: 25px;
}

a.categorie-link{
  color: black;
  font-size: 16px;
}

div.products{
  display: flex;
  flex-wrap: wrap;
}

article.products{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

span.product-name{
  font-size: 16px;
}

@media screen and (max-width: 768px){
  div.products-container{
    display: block;
  }
  div.categories{
    margin-left: 0;
  }
  h2.categories-title{
    text-align: center;
  }
  ul{
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  li{
    width: 30%;
  }
  div.pagination.pagination-sm{
    width: 100%;
  }
  ul.pagination{
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;
    flex-wrap: nowrap;
  }
}
