body {
  font-family: "Rajdhani", sans-serif;
  background-color: #f2f2f2;
  margin: 0;
}

.logoContainer a{
  text-decoration: none;
  color: white;
  font-size: 10vh;
}

.nav-links a {
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  color: black;
}
.login-register a{
  margin-left: 20px;
  color: black;
  font-weight: bold;
  padding-right: 2px;
}

div.container {
  width: 60%;
}

div.login-register-button{
  display: flex;
  justify-content: space-between;
}

button.login-button, button.register-button{
  width: 50%;
  background-color:#3490dc;
  color:white;
  border:none;
  padding:5px;
}
